[project]
	description = Just for sample purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vasuhattimattur
[access "refs/for/refs/*"]
	read = group user/vasuhattimattur
	push = group user/vasuhattimattur
	label-Code-Review = -2..+2 group user/vasuhattimattur
	label-Verified = -1..+1 group user/vasuhattimattur
	rebase = group user/vasuhattimattur
	removeReviewer = group user/vasuhattimattur
	submit = group user/vasuhattimattur
[access "refs/heads/*"]
	read = group user/vasuhattimattur
	create = group user/vasuhattimattur
	push = +force group user/vasuhattimattur
	pushMerge = group user/vasuhattimattur
[access "refs/tags/*"]
	push = group user/vasuhattimattur
	push = +force group user/vasuhattimattur
