[project]
	description = Just for sample purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vasu (vasuhattimattur)
[access "refs/for/refs/*"]
	read = group user/vasu (vasuhattimattur)
	push = group user/vasu (vasuhattimattur)
	label-Code-Review = -2..+2 group user/vasu (vasuhattimattur)
	label-Verified = -1..+1 group user/vasu (vasuhattimattur)
	rebase = group user/vasu (vasuhattimattur)
	removeReviewer = group user/vasu (vasuhattimattur)
	submit = group user/vasu (vasuhattimattur)
[access "refs/heads/*"]
	read = group user/vasu (vasuhattimattur)
	create = group user/vasu (vasuhattimattur)
	push = +force group user/vasu (vasuhattimattur)
	pushMerge = group user/vasu (vasuhattimattur)
[access "refs/tags/*"]
	push = group user/vasu (vasuhattimattur)
	push = +force group user/vasu (vasuhattimattur)
